### How Are We Doing?

In the last notebook, you created a working version of SVD for situations even when there are tons of missing values.  This is awesome!  The question now is how well does this solution work?

In this notebook, we are going to simulate exactly what we would do in the real world to tune our recommender.  

Run the cell below to read in the data and get started.

In [1]:
import numpy as np
import pandas as pd

# Read in the datasets
movies = pd.read_csv('data/movies_clean.csv')
reviews = pd.read_csv('data/reviews_clean.csv')

del movies['Unnamed: 0']
del reviews['Unnamed: 0']

1. Using the **reviews** dataframe, perform the following tasks to create a training and validation set of data we can use to test the performance of your SVD algorithm using **off-line** validation techniques.

 * Order the reviews dataframe from earliest to most recent 
 * Pull the first 10000 reviews from  the dataset
 * Make the first 8000/10000 reviews the training data 
 * Make the last 2000/10000 the test data
 * Return the training and test datasets

In [2]:
reviews.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [4]:
reviews.sort_values('date')

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
498923,37287,2171847,6,1362062307,2013-02-28 14:38:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
442554,33140,444778,8,1362062624,2013-02-28 14:43:44,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81920,6338,1411238,6,1362062838,2013-02-28 14:47:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
584570,43691,1496422,7,1362063503,2013-02-28 14:58:23,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450669,33799,118799,5,1362063653,2013-02-28 15:00:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450691,33799,338013,4,1362063879,2013-02-28 15:04:39,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28143,2602,1003052,8,1362063906,2013-02-28 15:05:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450612,33799,64665,8,1362064047,2013-02-28 15:07:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
545732,40966,884328,7,1362064104,2013-02-28 15:08:24,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
259840,19657,1559547,9,1362064189,2013-02-28 15:09:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
199048,15228,119167,6,1362064605,2013-02-28 15:16:45,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108238,8408,949731,5,1362065194,2013-02-28 15:26:34,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108176,8408,319343,6,1362065226,2013-02-28 15:27:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108246,8408,1068680,7,1362065305,2013-02-28 15:28:25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
181657,13969,376994,8,1362065947,2013-02-28 15:39:07,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
316435,24000,1568338,2,1362066071,2013-02-28 15:41:11,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
540206,40491,1853728,8,1362066113,2013-02-28 15:41:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
188448,14569,1127715,7,1362066197,2013-02-28 15:43:17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
201475,15357,1790885,8,1362066300,2013-02-28 15:45:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81874,6338,889573,5,1362066533,2013-02-28 15:48:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8552,762,1954843,5,1362066578,2013-02-28 15:49:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
441401,33000,265086,10,1362066989,2013-02-28 15:56:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
441415,33000,1757746,5,1362067038,2013-02-28 15:57:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
425310,31954,338216,6,1362067229,2013-02-28 16:00:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
588615,44031,1371111,6,1362067709,2013-02-28 16:08:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
445208,33367,1648179,6,1362067888,2013-02-28 16:11:28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
445230,33367,1853728,9,1362067909,2013-02-28 16:11:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
673919,51137,1351685,8,1362068062,2013-02-28 16:14:22,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
33851,2987,1045658,7,1362068369,2013-02-28 16:19:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
83421,6428,99685,8,1362068477,2013-02-28 16:21:17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14803,1376,7784604,7,1530040632,2018-06-26 19:17:12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
527473,39594,6306064,6,1530041589,2018-06-26 19:33:09,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
121438,9437,80487,10,1530042562,2018-06-26 19:49:22,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
121669,9437,94824,9,1530042595,2018-06-26 19:49:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122191,9437,1856101,7,1530042920,2018-06-26 19:55:20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
553490,41649,2231461,5,1530043110,2018-06-26 19:58:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
553432,41649,1365519,5,1530043125,2018-06-26 19:58:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
658134,49743,6644200,8,1530043725,2018-06-26 20:08:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
61103,4784,3606756,9,1530043753,2018-06-26 20:09:13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698627,52959,412922,8,1530044515,2018-06-26 20:21:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
273989,20629,1979320,8,1530044521,2018-06-26 20:22:01,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
436711,32680,4881806,3,1530044731,2018-06-26 20:25:31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
234537,17801,4477536,4,1530045378,2018-06-26 20:36:18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
418010,31439,5140878,7,1530045714,2018-06-26 20:41:54,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
383855,28896,6644200,5,1530045795,2018-06-26 20:43:15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
692620,52598,3606756,6,1530045930,2018-06-26 20:45:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
511437,38441,7784604,9,1530046304,2018-06-26 20:51:44,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
679653,51610,5164214,8,1530047037,2018-06-26 21:03:57,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698093,52959,417,7,1530047326,2018-06-26 21:08:46,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
581812,43493,5688996,8,1530047652,2018-06-26 21:14:12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
237450,18052,2552296,6,1530047928,2018-06-26 21:18:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
551436,41495,363988,7,1530047951,2018-06-26 21:19:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
511403,38441,1935179,9,1530047995,2018-06-26 21:19:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144073,10948,120689,10,1530048563,2018-06-26 21:29:23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
620897,46740,6644200,8,1530049151,2018-06-26 21:39:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
440676,32975,2381249,8,1530049874,2018-06-26 21:51:14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212856,16136,5478478,7,1530050482,2018-06-26 22:01:22,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310197,23489,6644200,9,1530050531,2018-06-26 22:02:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
259939,19670,5308322,7,1530050676,2018-06-26 22:04:36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
def create_train_test(reviews, order_by, training_size, testing_size):
    '''    
    INPUT:
    reviews - (pandas df) dataframe to split into train and test
    order_by - (string) column name to sort by
    training_size - (int) number of rows in training set
    testing_size - (int) number of columns in the test set
    
    OUTPUT:
    training_df -  (pandas df) dataframe of the training set
    validation_df - (pandas df) dataframe of the test set
    '''
    # Order the reviews dataframe from earliest to most recent 
    reviews = reviews.sort_values('date')
    
    # Pull the first 10000 reviews from the dataset
    reviews_subset = reviews.iloc[:training_size+testing_size,:]
    
    # Make the first 8000/10000 reviews the training data 
    training_df = reviews_subset.iloc[:training_size,:]
    
    # Make the first 2000/10000 reviews the training data
    validation_df = reviews_subset.iloc[training_size:,:]

    return training_df, validation_df

In [6]:
# Nothing to change in this or the next cell
# Use our function to create training and test datasets
train_df, val_df = create_train_test(reviews, 'date', 8000, 2000)

In [7]:
# Make sure the dataframes we are using are the right shape
assert train_df.shape[0] == 8000, "The number of rows doesn't look right in the training dataset."
assert val_df.shape[0] == 2000, "The number of rows doesn't look right in the validation dataset"
assert str(train_df.tail(1)['date']).split()[1] == '2013-03-15', "The last date in the training dataset doesn't look like what we expected."
assert str(val_df.tail(1)['date']).split()[1] == '2013-03-18', "The last date in the validation dataset doesn't look like what we expected."
print("Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.")

Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.

In the real world, we might have all of the data up to this final date in the training data.  Then we want to see how well we are doing for each of the new ratings, which show up in the test data.

Below is a working example of the function created in the previous example you can use (or you can replace with your own).

`2.`  Fit the function to the training data with the following hyperparameters: 15 latent features, a learning rate of 0.005, and 250 iterations. This will take some time to run, so you may choose fewer latent features, a higher learning rate, or fewer iteratios if you want to speed up the process.  

**Note:** Again, this might be a good time to take a phone call, go for a walk, or just take a little break.  No need to change the code below unless you would like to make changes to reduce the time needed to obtain results.

In [8]:
def FunkSVD(ratings_mat, latent_features=12, learning_rate=0.0001, iters=100):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    movie_mat - (numpy array) a latent feature by movie matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_movies = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat))
    
    # initialize the user and movie matrices with random values
    user_mat = np.random.rand(n_users, latent_features)
    movie_mat = np.random.rand(latent_features, n_movies)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # keep track of iteration and MSE
    print("Optimizaiton Statistics")
    print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for i in range(n_users):
            for j in range(n_movies):
                
                # if the rating exists
                if ratings_mat[i, j] > 0:
                    
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    diff = ratings_mat[i, j] - np.dot(user_mat[i, :], movie_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        user_mat[i, k] += learning_rate * (2*diff*movie_mat[k, j])
                        movie_mat[k, j] += learning_rate * (2*diff*user_mat[i, k])

        # print results
        print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
        
    return user_mat, movie_mat

In [9]:
# Create user-by-item matrix - nothing to do here
train_user_item = train_df[['user_id', 'movie_id', 'rating', 'timestamp']]
train_data_df = train_user_item.groupby(['user_id', 'movie_id'])['rating'].max().unstack()
train_data_np = np.array(train_data_df)

# Fit FunkSVD with the specified hyper parameters to the training data
user_mat, movie_mat = FunkSVD(train_data_np, latent_features=15, learning_rate=0.005, iters=250)

Optimizaiton Statistics
Iterations | Mean Squared Error
1 		 10.385758
2 		 5.832943
3 		 4.081687
4 		 3.054421
5 		 2.378656
6 		 1.901523
7 		 1.548285
8 		 1.278124
9 		 1.066673
10 		 0.898330
11 		 0.762534
12 		 0.651823
13 		 0.560734
14 		 0.485165
15 		 0.421981
16 		 0.368759
17 		 0.323614
18 		 0.285069
19 		 0.251966
20 		 0.223384
21 		 0.198590
22 		 0.176991
23 		 0.158106
24 		 0.141538
25 		 0.126960
26 		 0.114096
27 		 0.102718
28 		 0.092629
29 		 0.083664
30 		 0.075680
31 		 0.068558
32 		 0.062191
33 		 0.056490
34 		 0.051377
35 		 0.046783
36 		 0.042648
37 		 0.038923
38 		 0.035560
39 		 0.032521
40 		 0.029770
41 		 0.027278
42 		 0.025016
43 		 0.022962
44 		 0.021093
45 		 0.019392
46 		 0.017841
47 		 0.016427
48 		 0.015135
49 		 0.013954
50 		 0.012873
51 		 0.011884
52 		 0.010977
53 		 0.010146
54 		 0.009383
55 		 0.008682
56 		 0.008038
57 		 0.007445
58 		 0.006900
59 		 0.006398
60 		 0.005936
61 		 0.005509
62 		 0.005116
63 		 0.004753
64 		 0.004418
65 		 0.004108
66 		 0.003822
67 		 0.003557
68 		 0.003312
69 		 0.003085
70 		 0.002875
71 		 0.002681
72 		 0.002500
73 		 0.002333
74 		 0.002178
75 		 0.002034
76 		 0.001900
77 		 0.001776
78 		 0.001660
79 		 0.001553
80 		 0.001453
81 		 0.001360
82 		 0.001273
83 		 0.001193
84 		 0.001117
85 		 0.001047
86 		 0.000982
87 		 0.000921
88 		 0.000864
89 		 0.000811
90 		 0.000762
91 		 0.000716
92 		 0.000672
93 		 0.000632
94 		 0.000594
95 		 0.000559
96 		 0.000526
97 		 0.000495
98 		 0.000466
99 		 0.000438
100 		 0.000413
101 		 0.000389
102 		 0.000367
103 		 0.000346
104 		 0.000326
105 		 0.000307
106 		 0.000290
107 		 0.000274
108 		 0.000258
109 		 0.000244
110 		 0.000230
111 		 0.000217
112 		 0.000205
113 		 0.000194
114 		 0.000183
115 		 0.000173
116 		 0.000164
117 		 0.000155
118 		 0.000147
119 		 0.000139
120 		 0.000131
121 		 0.000124
122 		 0.000118
123 		 0.000112
124 		 0.000106
125 		 0.000100
126 		 0.000095
127 		 0.000090
128 		 0.000085
129 		 0.000081
130 		 0.000077
131 		 0.000073
132 		 0.000069
133 		 0.000065
134 		 0.000062
135 		 0.000059
136 		 0.000056
137 		 0.000053
138 		 0.000050
139 		 0.000048
140 		 0.000045
141 		 0.000043
142 		 0.000041
143 		 0.000039
144 		 0.000037
145 		 0.000035
146 		 0.000033
147 		 0.000032
148 		 0.000030
149 		 0.000029
150 		 0.000027
151 		 0.000026
152 		 0.000025
153 		 0.000024
154 		 0.000022
155 		 0.000021
156 		 0.000020
157 		 0.000019
158 		 0.000018
159 		 0.000018
160 		 0.000017
161 		 0.000016
162 		 0.000015
163 		 0.000014
164 		 0.000014
165 		 0.000013
166 		 0.000012
167 		 0.000012
168 		 0.000011
169 		 0.000011
170 		 0.000010
171 		 0.000010
172 		 0.000009
173 		 0.000009
174 		 0.000009
175 		 0.000008
176 		 0.000008
177 		 0.000007
178 		 0.000007
179 		 0.000007
180 		 0.000006
181 		 0.000006
182 		 0.000006
183 		 0.000006
184 		 0.000005
185 		 0.000005
186 		 0.000005
187 		 0.000005
188 		 0.000004
189 		 0.000004
190 		 0.000004
191 		 0.000004
192 		 0.000004
193 		 0.000004
194 		 0.000003
195 		 0.000003
196 		 0.000003
197 		 0.000003
198 		 0.000003
199 		 0.000003
200 		 0.000003
201 		 0.000002
202 		 0.000002
203 		 0.000002
204 		 0.000002
205 		 0.000002
206 		 0.000002
207 		 0.000002
208 		 0.000002
209 		 0.000002
210 		 0.000002
211 		 0.000002
212 		 0.000002
213 		 0.000001
214 		 0.000001
215 		 0.000001
216 		 0.000001
217 		 0.000001
218 		 0.000001
219 		 0.000001
220 		 0.000001
221 		 0.000001
222 		 0.000001
223 		 0.000001
224 		 0.000001
225 		 0.000001
226 		 0.000001
227 		 0.000001
228 		 0.000001
229 		 0.000001
230 		 0.000001
231 		 0.000001
232 		 0.000001
233 		 0.000001
234 		 0.000001
235 		 0.000001
236 		 0.000001
237 		 0.000001
238 		 0.000001
239 		 0.000000
240 		 0.000000
241 		 0.000000
242 		 0.000000
243 		 0.000000
244 		 0.000000
245 		 0.000000
246 		 0.000000
247 		 0.000000
248 		 0.000000
249 		 0.000000
250 		 0.000000

Now that you have created the **user_mat** and **movie_mat**, we can use this to make predictions for how users would rate movies, by just computing the dot product of the row associated with a user and the column associated with the movie.

`3.` Use the comments in the function below to complete the **predict_rating** function.

In [10]:
def predict_rating(user_matrix, movie_matrix, user_id, movie_id):
    '''
    INPUT:
    user_matrix - user by latent factor matrix
    movie_matrix - latent factor by movie matrix
    user_id - the user_id from the reviews df
    movie_id - the movie_id according the movies df
    
    OUTPUT:
    pred - the predicted rating for user_id-movie_id according to FunkSVD
    '''
    # Use the training data to create a series of users and movies that matches the ordering in training data
    user_ids_series = np.array(train_data_df.index)
    movie_ids_series = np.array(train_data_df.columns)

    # User row and Movie Column
    user_row = np.where(user_ids_series == user_id)[0][0]
    movie_column = np.where(movie_ids_series == movie_id)[0][0]
    
    # Take dot product of that row and column in U and V to make prediction
    pred = np.dot(user_matrix[user_row,:], movie_matrix[:,movie_column])
   
    return pred

In [11]:
# Test your function with the first user-movie in the user-movie matrix (notice this is a nan)
pred_val = predict_rating(user_mat, movie_mat, 8, 2844)
pred_val

6.8461065771916907

It is great that you now have a way to make predictions. However it might be nice to get a little phrase back about the user, movie, and rating.

`4.` Use the comments in the function below to complete the **predict_rating** function.  

**Note:** The movie name doesn't come back in a great format, so you can see in the solution I messed around with it a bit just to make it a little nicer.

In [12]:
str(movies[movies['movie_id']==25]['movie'])

'3    The Oxford and Cambridge University Boat Race ...\nName: movie, dtype: object'

In [13]:
str(movies[movies['movie_id']==25]['movie'])[5:]

'The Oxford and Cambridge University Boat Race ...\nName: movie, dtype: object'

In [14]:
def print_prediction_summary(user_id, movie_id, prediction):
    '''
    INPUT:
    user_id - the user_id from the reviews df
    movie_id - the movie_id according the movies df
    prediction - the predicted rating for user_id-movie_id
    
    OUTPUT:
    None - prints a statement about the user, movie, and prediction made
    
    '''
    movie_name = str(movies[movies['movie_id']==movie_id]['movie'])[5:]
    movie_name = movie_name.replace('\nName: movie, dtype: object','')
    print("For user {}, we predict a rating of {:.2f} for the movie {}".format(user_id, prediction, movie_name))

In [15]:
# Test your function the the results of the previous function
print_prediction_summary(8, 2844, pred_val)

For user 8, we predict a rating of 6.85 for the movie  FantÃ´mas - Ã€ l'ombre de la guillotine (1913)

Now that we have the ability to make predictions, let's see how well our predictions do on the test ratings we already have.  This will give an indication of how well we have captured the latent features, and our ability to use the latent features to make predictions in the future!

`5.` For each of the user-movie rating in the **val_df** dataset, compare the actual rating given to the prediction you would make.  How do your predictions do?  Do you run into any problems?  If yes, what is the problem?  Use the document strings and comments below to assist as you work through these questions.

In [16]:
val_df.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
650588,49056,1598822,8,1363308721,2013-03-15 00:52:01,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650569,49056,289879,9,1363308742,2013-03-15 00:52:22,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650585,49056,1563738,9,1363308780,2013-03-15 00:53:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
650583,49056,1458175,4,1363308799,2013-03-15 00:53:19,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
378686,28599,103639,8,1363309112,2013-03-15 00:58:32,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
def validation_comparison(val_df, num_preds):
    '''
    INPUT:
    val_df - the validation dataset created in the third cell above
    num_preds - (int) the number of rows (going in order) you would like to make predictions for
    
    OUTPUT:
    Nothing returned - print a statement about the prediciton made for each row of val_df from row 0 to num_preds
    '''
    val_users = np.array(val_df['user_id'])
    val_movies = np.array(val_df['movie_id'])
    val_ratings = np.array(val_df['rating'])
    
    for i in range(num_preds):
        pred = predict_rating(user_mat, movie_mat, val_users[i], val_movies[i])
        print_prediction_summary(val_users[i], val_movies[i], pred_val)
        print("Actual rating is {:.2f}".format(val_ratings[i]))
        
# Perform the predicted vs. actual for the first 6 rows.  How does it look?
validation_comparison(val_df, 6)

For user 49056, we predict a rating of 6.85 for the movie     New Year's Eve (2011)
Actual rating is 8.00
For user 49056, we predict a rating of 6.85 for the movie     The Butterfly Effect (2004)
Actual rating is 9.00
For user 49056, we predict a rating of 6.85 for the movie     One Day (2011)
Actual rating is 9.00
For user 49056, we predict a rating of 6.85 for the movie     The Next Three Days (2010)
Actual rating is 4.00
For user 28599, we predict a rating of 6.85 for the movie    Aladdin (1992)
Actual rating is 8.00
For user 50593, we predict a rating of 6.85 for the movie     The Devil Inside (2012)
Actual rating is 4.00

In [18]:
# Perform the predicted vs. actual for the first 7 rows.  What happened?
validation_comparison(val_df, 7)

For user 49056, we predict a rating of 6.85 for the movie     New Year's Eve (2011)
Actual rating is 8.00
For user 49056, we predict a rating of 6.85 for the movie     The Butterfly Effect (2004)
Actual rating is 9.00
For user 49056, we predict a rating of 6.85 for the movie     One Day (2011)
Actual rating is 9.00
For user 49056, we predict a rating of 6.85 for the movie     The Next Three Days (2010)
Actual rating is 4.00
For user 28599, we predict a rating of 6.85 for the movie    Aladdin (1992)
Actual rating is 8.00
For user 50593, we predict a rating of 6.85 for the movie     The Devil Inside (2012)
Actual rating is 4.00

IndexError: index 0 is out of bounds for axis 0 with size 0

** A statement about why you think what happened happened.**

** The 7th movie is a movie that has no ratings.  Therefore, we are not able to make a prediction for this user-movie pair.**